@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 2, ../../sass/partials/base.scss */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 13px;
}

/* line 9, ../../sass/partials/base.scss */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 15, ../../sass/partials/base.scss */
a {
  text-decoration: none;
}

/* line 19, ../../sass/partials/base.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

/* line 23, ../../sass/partials/base.scss */
p {
  line-height: 25px;
  text-align: left;
}

/* line 28, ../../sass/partials/base.scss */
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
}

/* line 36, ../../sass/partials/base.scss */
button:focus {
  outline: none;
}

/* line 40, ../../sass/partials/base.scss */
.opencharity {
  font-family: 'Montserrat', sans-serif;
  color: #565659;
}

/* line 45, ../../sass/partials/base.scss */
h2 {
  font-weight: initial;
}
