/* line 1, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info {
  text-align: center;
  padding: 20px 100px;
}

/* line 6, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__lead_text {
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 12, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__sub_text {
  margin: 10px;
  font-size: 16px;
}

/* line 17, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col--wrapper {
  display: inline-block;
  width: 30%;
  margin: 10px;
  margin-top: 87px;
  padding: 4px;
}

/* line 26, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col {
  padding: 0px 20px;
  padding-top: 66px;
  height: 164px;
  max-height: auto;
  border-radius: 5px;
  position: relative;
}

/* line 35, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col__image--wrapper {
  width: 100px;
  margin: 0px auto;
  margin-top: -117px;
  border: 12px solid #fff;
  border-radius: 100%;
  height: 99px;
  position: initial;
  left: 113px;
  top: 0px;
}

/* line 47, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col__image {
  width: 50%;
  margin-top: 22px;
}

/* line 52, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col__lead_text {
  padding: 10px;
}

/* line 59, ../../sass/partials/mission_style.scss */
.opencharity__info--mission-info__bottom_line {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}
