.opencharity__slider--member_slider {
    
    padding: 42px 15px;
    text-align: center;
    background-color: #F1F2F5;

    .block__title {
        font-size: 26px;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

    ul {
        
        li {
            
            margin: 2px 64px;
            display: inline-block;

            img {
                width: 100px;
                vertical-align: -webkit-baseline-middle;
            }
        }
    }

}