    .opencharity__info--mission-info {
        text-align: center;
        padding: 20px 100px;
        background-color: #F1F2F5;

        .opencharity__info--mission-info__lead_text {
            font-size: 25px;
            margin-top: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
            text-align: center;
        }

        .opencharity__info--mission-info__sub_text {
            margin: 10px;
            font-size: 16px;
            text-align: center;
        }

        .opencharity__info--mission-info__col--wrapper {
            display: inline-block;
            width: 30%;
            margin: 10px;
            margin-top: 87px;
            padding: 4px;
        }


        .opencharity__info--mission-info__col {
            padding: 0px 20px;
            padding-top: 66px;
            height: 164px;
            max-height: auto;
            border-radius: 5px;
            position: relative;
            background-color: #fff;
        }

        .opencharity__info--mission-info__col__image--wrapper {
            width: 100px;
            margin: 0px auto;
            margin-top: -117px;
            border: 12px solid #fff;
            border-radius: 100%;
            height: 99px;
            position: initial;
            left: 113px;
            background-color: #5BC0C3;
            top: 0px;
        }

        .opencharity__info--mission-info__col__lead_text {
            padding: 10px;
            color: #5BC0C3;
            text-align: center;
        }

        .opencharity__info--mission-info {
            text-align: center;
            padding: 20px 100px;
        }
    }


    p.opencharity__info--mission-info__col__sub_text {
        text-align: center;
    }