.opencharity__header {
   
    padding: 19px 100px;
    box-shadow: 0px 0px 6px grey;
    background-color: #fff;
    height: 78px;

    .opencharity__header__dropdown-icon {
        display: none;
    }

    .opencharity__header__logo {
        width: 160px;
        padding: 0px;
        margin: 0px;
        display: inline-block;
    }

    .opencharity__header__nav {
        padding: 10px 0px;
        float: right;
        display: inline-block;

        .menu {
            margin: 0px;
            display: inline;
            padding: 0px;
            list-style: none;
            
            .menu__item {
                margin: 0px;
                display: inline;
                padding: 0px;
                
                .menu__link {
                    text-transform: uppercase;
                    padding: 13px 30px;
                    color: $black_one;
                }
                
                .active {
                    border: 1px solid #5BC0C3;
                    color: #5BC0C3;
                }

            }
        }
    }

}

.opencharity__header__nav--mobile {
    display: none;

    .menu {
        margin: 0px;
        padding: 0px;
        list-style: none;
        
        .menu__item {
            padding: 16px;
            text-align: center;
            border-bottom: 0.88px solid #5BC0C3;
            background-color: #fff;

            .menu__link {
                text-transform: uppercase;
                padding: 13px 30px;
                color: $blue;
            }
        }
    }
}



/* Extra exception screens */
@media screen and (max-width: 320px) {

}

/* Small only  aka mobile*/
@media screen and (max-width: 39.9375em) {

    .opencharity__header {
        
        height: 63px;

        .opencharity__header__dropdown-icon {
            display: block;
            position: absolute;
            top: 13px;
            right: 47px;
            width: 40px;
        }

        .opencharity__header__nav {
            display: none;
        }
        
    }

}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {


    .opencharity__header {
        
        height: 63px;

        .opencharity__header__dropdown-icon {
            display: block;
            position: absolute;
            top: 13px;
            right: 47px;
            width: 40px;
        }

        .opencharity__header__nav {
            display: none;
        }
    }


    .opencharity__banner {
        
        height: 327px;
        
        .sub_text--wrapper {

            padding: 54px 30px;

            .views-field-field-banner-image {
                height: 400px;
            }

            .first {
                font-size: 34px;
                margin-top: 0px;
                line-height: initial;
            }

            li {
                width: 60%;
                margin: 23px auto;
            }
        }
    }   
}