@import url(https://fonts.googleapis.com/css?family=Montserrat);
/* line 2, ../sass/partials/base.scss */
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-size: 13px;
}

/* line 9, ../sass/partials/base.scss */
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

/* line 15, ../sass/partials/base.scss */
a {
  text-decoration: none;
}

/* line 19, ../sass/partials/base.scss */
h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

/* line 23, ../sass/partials/base.scss */
p {
  line-height: 25px;
  text-align: left;
}

/* line 28, ../sass/partials/base.scss */
button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0 none;
}

/* line 36, ../sass/partials/base.scss */
button:focus {
  outline: none;
}

/* line 40, ../sass/partials/base.scss */
.opencharity {
  font-family: 'Montserrat', sans-serif;
  color: #565659;
}

/* line 45, ../sass/partials/base.scss */
h2 {
  font-weight: initial;
}

/* line 1, ../sass/partials/opencharity_header_style.scss */
.opencharity__header {
  padding: 19px 100px;
  box-shadow: 0px 0px 6px grey;
  background-color: #fff;
  height: 78px;
}
/* line 8, ../sass/partials/opencharity_header_style.scss */
.opencharity__header .opencharity__header__dropdown-icon {
  display: none;
}
/* line 12, ../sass/partials/opencharity_header_style.scss */
.opencharity__header .opencharity__header__logo {
  width: 160px;
  padding: 0px;
  margin: 0px;
  display: inline-block;
}
/* line 19, ../sass/partials/opencharity_header_style.scss */
.opencharity__header .opencharity__header__nav {
  padding: 10px 0px;
  float: right;
  display: inline-block;
}
/* line 24, ../sass/partials/opencharity_header_style.scss */
.opencharity__header .opencharity__header__nav .menu {
  margin: 0px;
  display: inline;
  padding: 0px;
  list-style: none;
}
/* line 30, ../sass/partials/opencharity_header_style.scss */
.opencharity__header .opencharity__header__nav .menu .menu__item {
  margin: 0px;
  display: inline;
  padding: 0px;
}
/* line 35, ../sass/partials/opencharity_header_style.scss */
.opencharity__header .opencharity__header__nav .menu .menu__item .menu__link {
  text-transform: uppercase;
  padding: 13px 30px;
  color: #565659;
}
/* line 41, ../sass/partials/opencharity_header_style.scss */
.opencharity__header .opencharity__header__nav .menu .menu__item .active {
  border: 1px solid #5BC0C3;
  color: #5BC0C3;
}

/* line 52, ../sass/partials/opencharity_header_style.scss */
.opencharity__header__nav--mobile {
  display: none;
}
/* line 55, ../sass/partials/opencharity_header_style.scss */
.opencharity__header__nav--mobile .menu {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 60, ../sass/partials/opencharity_header_style.scss */
.opencharity__header__nav--mobile .menu .menu__item {
  padding: 16px;
  text-align: center;
  border-bottom: 0.88px solid #5BC0C3;
  background-color: #fff;
}
/* line 66, ../sass/partials/opencharity_header_style.scss */
.opencharity__header__nav--mobile .menu .menu__item .menu__link {
  text-transform: uppercase;
  padding: 13px 30px;
  color: #5BC0C3;
}

/* Extra exception screens */
/* Small only  aka mobile*/
@media screen and (max-width: 39.9375em) {
  /* line 85, ../sass/partials/opencharity_header_style.scss */
  .opencharity__header {
    height: 63px;
  }
  /* line 89, ../sass/partials/opencharity_header_style.scss */
  .opencharity__header .opencharity__header__dropdown-icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 47px;
    width: 40px;
  }
  /* line 97, ../sass/partials/opencharity_header_style.scss */
  .opencharity__header .opencharity__header__nav {
    display: none;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 108, ../sass/partials/opencharity_header_style.scss */
  .opencharity__header {
    height: 63px;
  }
  /* line 112, ../sass/partials/opencharity_header_style.scss */
  .opencharity__header .opencharity__header__dropdown-icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 47px;
    width: 40px;
  }
  /* line 120, ../sass/partials/opencharity_header_style.scss */
  .opencharity__header .opencharity__header__nav {
    display: none;
  }

  /* line 126, ../sass/partials/opencharity_header_style.scss */
  .opencharity__banner {
    height: 327px;
  }
  /* line 130, ../sass/partials/opencharity_header_style.scss */
  .opencharity__banner .sub_text--wrapper {
    padding: 54px 30px;
  }
  /* line 134, ../sass/partials/opencharity_header_style.scss */
  .opencharity__banner .sub_text--wrapper .views-field-field-banner-image {
    height: 400px;
  }
  /* line 138, ../sass/partials/opencharity_header_style.scss */
  .opencharity__banner .sub_text--wrapper .first {
    font-size: 34px;
    margin-top: 0px;
    line-height: initial;
  }
  /* line 144, ../sass/partials/opencharity_header_style.scss */
  .opencharity__banner .sub_text--wrapper li {
    width: 60%;
    margin: 23px auto;
  }
}
/* line 21, ../sass/partials/banner_style.scss */
.opencharity__banner {
  height: 100%;
  overflow: hidden;
  margin: 0px;
  text-align: center;
  position: relative;
}
/* line 28, ../sass/partials/banner_style.scss */
.opencharity__banner .opencharity__banner__lead_overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
}
/* line 39, ../sass/partials/banner_style.scss */
.opencharity__banner .views-field-field-banner-image {
  height: 500px;
}
/* line 43, ../sass/partials/banner_style.scss */
.opencharity__banner .sub_text--wrapper {
  position: absolute;
  padding: 80px 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFF;
  background: rgba(0, 0, 0, 0.6);
}
/* line 53, ../sass/partials/banner_style.scss */
.opencharity__banner .sub_text--wrapper .first {
  text-transform: uppercase;
  font-size: 50px;
  z-index: 1;
  margin-top: 35px;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 58, ../sass/partials/banner_style.scss */
.opencharity__banner .sub_text--wrapper li {
  margin: 40px auto;
  display: block;
  z-index: 1;
  position: relative;
  text-align: center;
  font-size: small;
  width: 44%;
}

/* line 3, ../sass/partials/footer_style.scss */
.opencharity__footer {
  background-color: #454850;
  text-align: center;
  padding: 20px 100px;
}
/* line 8, ../sass/partials/footer_style.scss */
.opencharity__footer .opencharity__footer__nav {
  display: block;
  padding: 10px;
  border-bottom: 2px solid;
}
/* line 13, ../sass/partials/footer_style.scss */
.opencharity__footer .opencharity__footer__nav li {
  display: inline-block;
  margin: 5px;
}
/* line 17, ../sass/partials/footer_style.scss */
.opencharity__footer .opencharity__footer__nav li img {
  width: 20px;
  mix-width: 10px;
  min-width: 10px;
}
/* line 24, ../sass/partials/footer_style.scss */
.opencharity__footer .opencharity__footer__nav .first img {
  width: 10px;
}
/* line 28, ../sass/partials/footer_style.scss */
.opencharity__footer .opencharity__footer__nav .last img {
  width: 23px;
}
/* line 34, ../sass/partials/footer_style.scss */
.opencharity__footer .opencharity__footer__trade_mark {
  padding: 10px;
  display: block;
}
/* line 38, ../sass/partials/footer_style.scss */
.opencharity__footer .opencharity__footer__trade_mark li {
  display: inline-block;
  color: #969EB7;
  font-size: 14px;
}

/* line 3, ../sass/partials/blog_style.scss */
.opencharity__slider--blog_slider {
  text-align: center;
  padding: 20px 0px;
}
/* line 7, ../sass/partials/blog_style.scss */
.opencharity__slider--blog_slider .block__title {
  text-transform: uppercase;
  margin: 20px;
  font-size: 30px;
}
/* line 13, ../sass/partials/blog_style.scss */
.opencharity__slider--blog_slider td {
  text-align: left;
  display: inline-block;
  width: 22%;
  margin: 9px;
}
/* line 19, ../sass/partials/blog_style.scss */
.opencharity__slider--blog_slider td .first {
  color: #5BC0C3;
  margin-bottom: 7px;
}
/* line 24, ../sass/partials/blog_style.scss */
.opencharity__slider--blog_slider td li:nth-child(2) {
  border-top: 1px solid #F1F2F5;
  border-bottom: 1px solid #F1F2F5;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* line 31, ../sass/partials/blog_style.scss */
.opencharity__slider--blog_slider td li:nth-child(3) {
  margin-top: 20px;
}

/* line 1, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social {
  text-align: center;
  padding: 28px 0px;
}
/* line 5, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social .block__title {
  margin-bottom: 19px;
}
/* line 9, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social td {
  display: inline-block;
  width: 30%;
  margin-top: 20px;
  padding: 4px;
}
/* line 15, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social td .views-field-title {
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 20, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social td img {
  width: 100px;
}
/* line 24, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social td ul {
  text-align: center;
}
/* line 27, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social td .first {
  margin-top: 30px;
  text-transform: uppercase;
}
/* line 32, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social td li:nth-child(2) {
  padding: 20px 30px;
}
/* line 36, ../sass/partials/social_style.scss */
.opencharity__call_to_action--social td li:nth-child(3) {
  border: 1px solid #5BC0C3;
  background-color: transparent;
  color: #5BC0C3;
  padding: 12px 35px;
  text-transform: uppercase;
  width: 60%;
  margin: 0px auto;
}

/* line 2, ../sass/partials/event_style.scss */
.opencharity__call_to_action--event {
  background-color: #F1F2F5;
  padding: 20px 100px;
}

/* line 7, ../sass/partials/event_style.scss */
.opencharity__call_to_action--event__event_info {
  display: inline-block;
  width: 80%;
}

/* line 12, ../sass/partials/event_style.scss */
.opencharity__call_to_action--event__event_info__time {
  margin: 7px;
}

/* line 16, ../sass/partials/event_style.scss */
.opencharity__call_to_action--event__event_info__venue {
  margin: 7px;
}

/* line 20, ../sass/partials/event_style.scss */
.opencharity__call_to_action--event__event_info__register_button {
  display: inline-block;
  float: right;
  padding: 10px 30px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #5BC0C3;
  color: #fff;
  box-shadow: none;
}

/* line 1, ../sass/partials/member_style.scss */
.opencharity__slider--member_slider {
  padding: 42px 15px;
  text-align: center;
  background-color: #F1F2F5;
}
/* line 7, ../sass/partials/member_style.scss */
.opencharity__slider--member_slider .block__title {
  font-size: 26px;
  margin-bottom: 50px;
  text-transform: uppercase;
}
/* line 15, ../sass/partials/member_style.scss */
.opencharity__slider--member_slider ul li {
  margin: 2px 64px;
  display: inline-block;
}
/* line 20, ../sass/partials/member_style.scss */
.opencharity__slider--member_slider ul li img {
  width: 100px;
  vertical-align: -webkit-baseline-middle;
}

/* line 1, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info {
  text-align: center;
  padding: 20px 100px;
}

/* line 6, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__lead_text {
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* line 12, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__sub_text {
  margin: 10px;
  font-size: 16px;
}

/* line 17, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col--wrapper {
  display: inline-block;
  width: 30%;
  margin: 10px;
  margin-top: 87px;
  padding: 4px;
}

/* line 26, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col {
  padding: 0px 20px;
  padding-top: 66px;
  height: 164px;
  max-height: auto;
  border-radius: 5px;
  position: relative;
}

/* line 35, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col__image--wrapper {
  width: 100px;
  margin: 0px auto;
  margin-top: -117px;
  border: 12px solid #fff;
  border-radius: 100%;
  height: 99px;
  position: initial;
  left: 113px;
  top: 0px;
}

/* line 47, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col__image {
  width: 50%;
  margin-top: 22px;
}

/* line 52, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__col__lead_text {
  padding: 10px;
}

/* line 59, ../sass/partials/mission_style.scss */
.opencharity__info--mission-info__bottom_line {
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Extra exception screens */
@media screen and (max-width: 320px) {
  /* line 6, ../sass/partials/viewport.scss */
  .opencharity__header .opencharity__header__logo {
    width: 155px;
    padding: 0px;
    margin: 0px;
    margin-left: -16px;
    display: inline-block;
  }

  /* line 14, ../sass/partials/viewport.scss */
  .opencharity__header .opencharity__header__dropdown-icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 30px;
    width: 40px;
  }
}
/* Small only  aka mobile*/
@media screen and (max-width: 39.9375em) {
  /* line 26, ../sass/partials/viewport.scss */
  .opencharity__header {
    height: 63px;
  }
  /* line 30, ../sass/partials/viewport.scss */
  .opencharity__header .opencharity__header__dropdown-icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 47px;
    width: 40px;
  }
  /* line 38, ../sass/partials/viewport.scss */
  .opencharity__header .opencharity__header__nav {
    display: none;
  }

  /* line 45, ../sass/partials/viewport.scss */
  .opencharity__banner .sub_text--wrapper {
    padding: 54px 30px;
  }
  /* line 49, ../sass/partials/viewport.scss */
  .opencharity__banner .sub_text--wrapper .views-field-field-banner-image {
    height: 400px;
  }
  /* line 53, ../sass/partials/viewport.scss */
  .opencharity__banner .sub_text--wrapper .first {
    font-size: 34px;
    margin-top: 0px;
    line-height: initial;
  }
  /* line 59, ../sass/partials/viewport.scss */
  .opencharity__banner .sub_text--wrapper li {
    width: 93%;
    margin: 23px auto;
  }

  /* line 69, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--social td {
    display: inline-block;
    width: 92%;
    margin-top: 20px;
    padding: 18px;
  }

  /* line 77, ../sass/partials/viewport.scss */
  .opencharity__slider--blog_slider td {
    text-align: left;
    display: inline-block;
    width: 81%;
    margin: 9px;
  }

  /* line 86, ../sass/partials/viewport.scss */
  .opencharity__slider--member_slider table tr td {
    display: none;
  }
  /* line 90, ../sass/partials/viewport.scss */
  .opencharity__slider--member_slider ul li {
    margin: 30px 64px;
    display: inline-block;
  }

  /* line 97, ../sass/partials/viewport.scss */
  .opencharity__footer {
    background-color: #454850;
    text-align: center;
    padding: 20px 20px;
  }

  /* line 103, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--event {
    padding: 20px 21px;
    text-align: center;
  }
  /* line 107, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--event .opencharity__call_to_action--event__event_info__time {
    margin: 7px;
    text-align: center;
  }
  /* line 112, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--event .opencharity__call_to_action--event__event_info__venue {
    margin: 7px;
    text-align: center;
  }
  /* line 117, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--event .opencharity__call_to_action--event__event_info {
    font-size: 12px;
  }
  /* line 121, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--event .opencharity__call_to_action--event__event_info__register_button {
    float: none;
  }
}
/* Medium only aka ipad */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  /* line 133, ../sass/partials/viewport.scss */
  .opencharity__header {
    height: 63px;
  }
  /* line 137, ../sass/partials/viewport.scss */
  .opencharity__header .opencharity__header__dropdown-icon {
    display: block;
    position: absolute;
    top: 13px;
    right: 47px;
    width: 40px;
  }
  /* line 145, ../sass/partials/viewport.scss */
  .opencharity__header .opencharity__header__nav {
    display: none;
  }

  /* line 151, ../sass/partials/viewport.scss */
  .opencharity__banner {
    height: 327px;
  }
  /* line 155, ../sass/partials/viewport.scss */
  .opencharity__banner .sub_text--wrapper {
    padding: 54px 30px;
  }
  /* line 159, ../sass/partials/viewport.scss */
  .opencharity__banner .sub_text--wrapper .first {
    font-size: 34px;
    margin-top: 0px;
    line-height: initial;
  }
  /* line 165, ../sass/partials/viewport.scss */
  .opencharity__banner .sub_text--wrapper li {
    width: 60%;
    margin: 23px auto;
  }

  /* line 176, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--social table td {
    width: 54%;
    margin-top: 20px;
    padding: 15px;
  }

  /* line 190, ../sass/partials/viewport.scss */
  .opencharity__slider--member_slider ul li {
    margin: 2px 32px;
    display: inline-block;
  }

  /* line 200, ../sass/partials/viewport.scss */
  .opencharity__slider--blog_slider td {
    display: inline-block;
    width: 44%;
    margin: 15px;
  }

  /* line 207, ../sass/partials/viewport.scss */
  .opencharity__call_to_action--event {
    background-color: #F1F2F5;
    padding: 20px 47px;
  }
}
/* Extra exception screens */
/* Small only  aka mobile*/
/* Medium and up*/
/* Medium only aka ipad */
/* Large and up  aka big ipad and laptops :(*/
/* Large only */
